 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/g4e1c60812af3dce4d21b92ed46c389ab5c8d88b50aa1a1bf7086bfbf62ffb35c9a7c91cbc0020de7f1f45195e22e6b26b378df001d820cac5ccc5db0d574e8e3_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 208px;
}

.u-section-1 .u-text-1 {
  margin: 51px auto 51px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-bottom: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 26px;
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 105px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2552px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 321px;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-text-1 {
  margin: -263px 598px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 123px 0 0;
}

.u-section-2 .u-image-2 {
  width: 288px;
  height: 396px;
  margin: 151px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: -259px 163px 0 407px;
}

.u-section-2 .u-image-3 {
  width: 308px;
  height: 443px;
  object-position: 69.81% 50%;
  margin: 137px auto 0 832px;
}

.u-section-2 .u-text-4 {
  margin: -283px 419px 0 151px;
}

.u-section-2 .u-image-4 {
  width: 296px;
  height: 422px;
  margin: 186px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: -262px 140px 60px 407px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2495px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 264px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 570px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 63px;
    margin-left: 307px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 632px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 319px;
    margin-left: 51px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 40px;
    margin-left: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3085px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 59px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: 570px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: 570px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 64px;
    margin-right: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3254px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 59px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 74px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3839px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 103px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }
}