 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 153px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 151px;
  margin: 2px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Anton;
  margin: 0 66px;
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 379px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-align: center;
  width: 433px;
  margin: 60px auto 0;
}

.u-section-2 .u-countdown-1 {
  padding-right: 0;
  padding-left: 0;
  margin: 50px auto 60px;
}

.u-section-2 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-label-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-2 .u-countdown-separator-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-label-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-2 .u-countdown-separator-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-label-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-2 .u-countdown-separator-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-label-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-2 .u-countdown-separator-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-label-5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-2 .u-countdown-separator-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-2 .u-countdown-counter-6 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-2 .u-countdown-label-6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 396px;
}

.u-section-3 .u-text-1 {
  margin: 79px 18px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 8px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1000px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1091px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1219px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 2731px;
}

.u-section-4 .u-group-elements-1 {
  width: 266px;
  min-height: 64px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-family: Anton;
  margin: 14px auto 0 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -50px 0 0 auto;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 570px 0 0;
}

.u-section-4 .u-group-elements-2 {
  width: 403px;
  min-height: 64px;
  margin: 10px auto 0 737px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 339px 0 0;
  padding: 10px;
}

.u-section-4 .u-text-3 {
  font-family: Anton;
  margin: -50px 0 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0 570px;
}

.u-section-4 .u-group-elements-3 {
  width: 223px;
  min-height: 64px;
  margin: 12px auto 0 0;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 0 0 auto;
  padding: 10px;
}

.u-section-4 .u-text-5 {
  font-family: Anton;
  margin: -50px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 570px 0 0;
}

.u-section-4 .u-group-elements-4 {
  width: 198px;
  min-height: 64px;
  margin: 8px auto 0 942px;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 134px 0 0;
}

.u-section-4 .u-text-7 {
  font-family: Anton;
  margin: -50px 0 0 auto;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  margin: 20px 0 0 570px;
}

.u-section-4 .u-group-elements-5 {
  width: 193px;
  min-height: 64px;
  margin: 10px auto 0 0;
}

.u-section-4 .u-icon-5 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 0 0 0 auto;
  padding: 10px;
}

.u-section-4 .u-text-9 {
  font-family: Anton;
  margin: -50px auto 0 0;
}

.u-section-4 .u-text-10 {
  font-size: 1.25rem;
  margin: 20px 570px 0 0;
}

.u-section-4 .u-group-elements-6 {
  width: 214px;
  min-height: 64px;
  margin: 10px auto 0 926px;
}

.u-section-4 .u-icon-6 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 150px 0 0;
  padding: 10px;
}

.u-section-4 .u-text-11 {
  font-family: Anton;
  margin: -50px 0 0 auto;
}

.u-section-4 .u-text-12 {
  font-size: 1.25rem;
  margin: 20px 0 0 570px;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-group-elements-7 {
  width: 381px;
  min-height: 64px;
  margin: 10px auto 0 0;
}

.u-section-4 .u-icon-7 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 0 0 0 auto;
  padding: 10px;
}

.u-section-4 .u-text-13 {
  font-family: Anton;
  margin: -50px auto 0 0;
}

.u-section-4 .u-text-14 {
  font-size: 1.25rem;
  margin: 20px 570px 0 0;
}

.u-section-4 .u-group-elements-8 {
  width: 427px;
  min-height: 64px;
  margin: 10px auto 0 713px;
}

.u-section-4 .u-icon-8 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 0 363px 0 0;
  padding: 10px;
}

.u-section-4 .u-text-15 {
  font-family: Anton;
  margin: -50px 0 0 auto;
}

.u-section-4 .u-text-16 {
  font-size: 1.25rem;
  margin: 20px 0 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2630px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-4 .u-group-elements-2 {
    height: auto;
    margin-left: 538px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 370px;
  }

  .u-section-4 .u-group-elements-3 {
    height: auto;
  }

  .u-section-4 .u-text-6 {
    margin-right: 370px;
  }

  .u-section-4 .u-group-elements-4 {
    height: auto;
    margin-left: 743px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 370px;
  }

  .u-section-4 .u-group-elements-5 {
    height: auto;
  }

  .u-section-4 .u-text-10 {
    margin-right: 370px;
  }

  .u-section-4 .u-group-elements-6 {
    height: auto;
    margin-left: 726px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-left: 370px;
  }

  .u-section-4 .u-group-elements-7 {
    height: auto;
  }

  .u-section-4 .u-text-14 {
    margin-right: 370px;
  }

  .u-section-4 .u-group-elements-8 {
    margin-left: 513px;
    height: auto;
  }

  .u-section-4 .u-text-16 {
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-4 .u-group-elements-2 {
    margin-left: 317px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 150px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 150px;
  }

  .u-section-4 .u-group-elements-4 {
    margin-left: 522px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 150px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 150px;
  }

  .u-section-4 .u-group-elements-6 {
    margin-left: 506px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 150px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 150px;
  }

  .u-section-4 .u-group-elements-8 {
    margin-left: 293px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-group-elements-2 {
    margin-left: 137px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-group-elements-4 {
    margin-left: 342px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
  }

  .u-section-4 .u-group-elements-6 {
    margin-left: 326px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
  }

  .u-section-4 .u-text-14 {
    margin-right: 0;
  }

  .u-section-4 .u-group-elements-8 {
    margin-left: 113px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3928px;
  }

  .u-section-4 .u-group-elements-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-group-elements-4 {
    margin-left: 142px;
  }

  .u-section-4 .u-group-elements-6 {
    margin-left: 126px;
  }

  .u-section-4 .u-group-elements-7 {
    width: 340px;
  }

  .u-section-4 .u-group-elements-8 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-text-16 {
    margin-bottom: 30px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 181px;
}

.u-section-5 .u-custom-html-1 {
  margin-bottom: 34px;
  min-height: 145px;
  margin-top: 2px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 162px;
  }
}.logo-fi-masters {
	float: right;
}