 .u-section-1 {
  background-image: url("images/pexels-markus-winkler-41601251.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 560px;
}

.u-section-1 .u-group-1 {
  width: 737px;
  min-height: 251px;
  margin: 309px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: Anton;
  font-weight: 700;
  background-image: none;
  margin: 73px 78px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Anton;
  background-image: none;
  margin: 11px 89px 0 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 61px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 81px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 184px;
    margin-left: -50px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 8063px;
}

.u-section-2 .u-text-1 {
  margin: 21px 0 59px;
}