 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 153px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 151px;
  margin: 2px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Anton;
  margin: 19px 63px 0 69px;
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 29px;
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 735px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 981%;
  top: -440%;
}

@media (max-width: 1199px) {
  .u-section-2 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .embed-responsive-1 {
    width: 181%;
    left: -41%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .embed-responsive-1 {
    width: 242%;
    left: -71%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 251%;
    left: -76%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 379px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-align: center;
  width: 433px;
  margin: 60px auto 0;
}

.u-section-3 .u-countdown-1 {
  padding-right: 0;
  padding-left: 0;
  margin: 50px auto 60px;
}

.u-section-3 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-3 .u-countdown-counter-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-3 .u-countdown-label-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-3 .u-countdown-separator-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-3 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-3 .u-countdown-counter-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-3 .u-countdown-label-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-3 .u-countdown-separator-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-3 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-3 .u-countdown-counter-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-3 .u-countdown-label-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-3 .u-countdown-separator-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-3 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-3 .u-countdown-counter-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-3 .u-countdown-label-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-3 .u-countdown-separator-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-3 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-3 .u-countdown-counter-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-3 .u-countdown-label-5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-3 .u-countdown-separator-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-3 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-3 .u-countdown-counter-6 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-3 .u-countdown-label-6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 762px;
}

.u-section-4 .u-text-1 {
  margin: 2px 18px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 8px 0 0;
}

.u-section-4 .u-image-1 {
  width: 345px;
  height: 345px;
  margin: -107px auto 2px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -102px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1000px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1091px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 2731px;
}

.u-section-5 .u-group-elements-1 {
  width: 266px;
  min-height: 64px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-family: Anton;
  margin: 14px auto 0 0;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -50px 0 0 auto;
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 570px 0 0;
}

.u-section-5 .u-group-elements-2 {
  width: 403px;
  min-height: 64px;
  margin: 10px auto 0 737px;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 339px 0 0;
  padding: 10px;
}

.u-section-5 .u-text-3 {
  font-family: Anton;
  margin: -50px 0 0 auto;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0 570px;
}

.u-section-5 .u-group-elements-3 {
  width: 204px;
  min-height: 64px;
  margin: 10px auto 0 0;
}

.u-section-5 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 0 0 auto;
  padding: 10px;
}

.u-section-5 .u-text-5 {
  font-family: Anton;
  margin: -50px auto 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 570px 0 0;
}

.u-section-5 .u-group-elements-4 {
  width: 198px;
  min-height: 64px;
  margin: 10px auto 0 942px;
}

.u-section-5 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 134px 0 0;
}

.u-section-5 .u-text-7 {
  font-family: Anton;
  margin: -50px 0 0 auto;
}

.u-section-5 .u-text-8 {
  font-size: 1.25rem;
  margin: 20px 0 0 570px;
}

.u-section-5 .u-group-elements-5 {
  width: 193px;
  min-height: 64px;
  margin: 10px auto 0 0;
}

.u-section-5 .u-icon-5 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 0 0 0 auto;
  padding: 10px;
}

.u-section-5 .u-text-9 {
  font-family: Anton;
  margin: -50px auto 0 0;
}

.u-section-5 .u-text-10 {
  font-size: 1.25rem;
  margin: 20px 570px 0 0;
}

.u-section-5 .u-group-elements-6 {
  width: 214px;
  min-height: 64px;
  margin: 10px auto 0 926px;
}

.u-section-5 .u-icon-6 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 0 150px 0 0;
  padding: 10px;
}

.u-section-5 .u-text-11 {
  font-family: Anton;
  margin: -50px 0 0 auto;
}

.u-section-5 .u-text-12 {
  font-size: 1.25rem;
  margin: 20px 0 0 570px;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-group-elements-7 {
  width: 381px;
  min-height: 64px;
  margin: 10px auto 0 0;
}

.u-section-5 .u-icon-7 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 0 0 0 auto;
  padding: 10px;
}

.u-section-5 .u-text-13 {
  font-family: Anton;
  margin: -50px auto 0 0;
}

.u-section-5 .u-text-14 {
  font-size: 1.25rem;
  margin: 20px 570px 0 0;
}

.u-section-5 .u-group-elements-8 {
  width: 427px;
  min-height: 64px;
  margin: 10px auto 0 713px;
}

.u-section-5 .u-icon-8 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 0 363px 0 0;
  padding: 10px;
}

.u-section-5 .u-text-15 {
  font-family: Anton;
  margin: -50px 0 0 auto;
}

.u-section-5 .u-text-16 {
  font-size: 1.25rem;
  margin: 20px 0 50px 570px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2630px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-5 .u-group-elements-2 {
    height: auto;
    margin-left: 538px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 370px;
  }

  .u-section-5 .u-group-elements-3 {
    height: auto;
  }

  .u-section-5 .u-text-6 {
    margin-right: 370px;
  }

  .u-section-5 .u-group-elements-4 {
    height: auto;
    margin-left: 743px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 370px;
  }

  .u-section-5 .u-group-elements-5 {
    height: auto;
  }

  .u-section-5 .u-text-10 {
    margin-right: 370px;
  }

  .u-section-5 .u-group-elements-6 {
    height: auto;
    margin-left: 726px;
  }

  .u-section-5 .u-text-12 {
    width: auto;
    margin-left: 370px;
  }

  .u-section-5 .u-group-elements-7 {
    height: auto;
  }

  .u-section-5 .u-text-14 {
    margin-right: 370px;
  }

  .u-section-5 .u-group-elements-8 {
    margin-left: 513px;
    height: auto;
  }

  .u-section-5 .u-text-16 {
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-5 .u-group-elements-2 {
    margin-left: 317px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 150px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 150px;
  }

  .u-section-5 .u-group-elements-4 {
    margin-left: 522px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 150px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 150px;
  }

  .u-section-5 .u-group-elements-6 {
    margin-left: 506px;
  }

  .u-section-5 .u-text-12 {
    margin-left: 150px;
  }

  .u-section-5 .u-text-14 {
    margin-right: 150px;
  }

  .u-section-5 .u-group-elements-8 {
    margin-left: 293px;
  }

  .u-section-5 .u-text-16 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-group-elements-2 {
    margin-left: 137px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-group-elements-4 {
    margin-left: 342px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
  }

  .u-section-5 .u-group-elements-6 {
    margin-left: 326px;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
  }

  .u-section-5 .u-text-14 {
    margin-right: 0;
  }

  .u-section-5 .u-group-elements-8 {
    margin-left: 113px;
  }

  .u-section-5 .u-text-16 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3928px;
  }

  .u-section-5 .u-group-elements-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-group-elements-4 {
    margin-left: 142px;
  }

  .u-section-5 .u-group-elements-6 {
    margin-left: 126px;
  }

  .u-section-5 .u-group-elements-7 {
    width: 340px;
  }

  .u-section-5 .u-group-elements-8 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-text-16 {
    margin-bottom: 30px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 181px;
}

.u-section-6 .u-custom-html-1 {
  margin-bottom: 36px;
  min-height: 145px;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 162px;
  }
} .u-section-7 {
  background-image: linear-gradient(white, #b9c1cc);
}

.u-section-7 .u-sheet-1 {
  min-height: 359px;
}

.u-section-7 .u-line-1 {
  width: 912px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  width: 595px;
  margin: 50px auto 0;
}

.u-section-7 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 17px auto 60px;
}

@media (max-width: 991px) {
  .u-section-7 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-line-1 {
    width: 540px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-line-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 667px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 698px;
  background-image: linear-gradient(#b9c1cc, #555c66);
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-layout-wrap-2 {
  width: 1140px;
  margin: -668px auto 23px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 323px;
}

.u-section-8 .u-container-layout-2 {
  padding: 25px 30px 30px;
}

.u-section-8 .u-group-1 {
  width: 382px;
  min-height: 268px;
  margin: -1px auto 0;
}

.u-section-8 .u-text-1 {
  font-family: Anton;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 1px auto 0;
}

.u-section-8 .u-video-1 {
  width: 380px;
  height: 210px;
  margin: 20px auto 0 1px;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 323px;
}

.u-section-8 .u-container-layout-4 {
  padding: 8px 18px;
}

.u-section-8 .u-group-2 {
  width: 420px;
  min-height: 306px;
  margin: -3px auto 0;
}

.u-section-8 .u-text-2 {
  font-family: Anton;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px auto 0;
}

.u-section-8 .u-video-2 {
  width: 380px;
  height: 210px;
  margin: 20px auto 0 20px;
}

.u-section-8 .embed-responsive-2 {
  position: absolute;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 323px;
}

.u-section-8 .u-container-layout-6 {
  padding: 25px 30px;
}

.u-section-8 .u-group-3 {
  width: 388px;
  min-height: 274px;
  margin: -4px auto 0;
}

.u-section-8 .u-text-3 {
  font-family: Anton;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 4px auto 0;
}

.u-section-8 .u-video-3 {
  width: 380px;
  height: 210px;
  margin: 20px auto 0 4px;
}

.u-section-8 .embed-responsive-3 {
  position: absolute;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 606px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 636px;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 940px;
    margin-top: -641px;
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 266px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 266px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 569px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 674px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 720px;
    margin-top: -716px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-group-1 {
    width: 300px;
  }

  .u-section-8 .u-video-1 {
    width: 300px;
    height: 166px;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-group-2 {
    width: 323px;
  }

  .u-section-8 .u-video-2 {
    width: 323px;
    height: 179px;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 921px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 951px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 540px;
    margin-top: -978px;
    margin-bottom: 18px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 899px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 929px;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 340px;
    margin-top: -960px;
    margin-bottom: 0;
  }

  .u-section-8 .u-group-2 {
    width: 320px;
  }

  .u-section-8 .u-video-2 {
    width: 320px;
    height: 177px;
  }

  .u-section-8 .u-group-3 {
    width: 320px;
  }

  .u-section-8 .u-video-3 {
    width: 320px;
    height: 177px;
    margin-left: 0;
  }
}.logo-fi-masters {
	float: right;
}