 .u-section-1 {
  min-height: 573px;
}

.u-section-1 .u-sheet-1 {
  min-height: 814px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-scale: 1;
  font-family: Anton;
  margin: 699px -9px 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 635%;
  top: -268%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 680px;
    margin-top: 634px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .embed-responsive-1 {
    width: 201%;
    left: -50%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 619px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 345px;
    margin-top: 446px;
    margin-bottom: 16px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
  }

  .u-section-1 .embed-responsive-1 {
    width: 272%;
    left: -86%;
    height: 100%;
    top: 0%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 23px;
}.u-section-3 .u-sheet-1 {
  min-height: 1670px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 400px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 396px;
  height: 396px;
  margin: 0 auto;
}

.u-section-3 .u-group-2 {
  width: 570px;
  min-height: 400px;
  margin: -400px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-group-elements-1 {
  min-height: 252px;
  width: 472px;
  margin: 30px 16px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
}

.u-section-3 .u-group-3 {
  width: 570px;
  min-height: 400px;
  margin: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-3 .u-group-elements-2 {
  min-height: 254px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 0 60px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 32px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-group-4 {
  width: 570px;
  min-height: 400px;
  background-image: none;
  margin: -400px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-3 .u-group-5 {
  width: 570px;
  min-height: 400px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 15px 0;
}

.u-section-3 .u-group-elements-3 {
  min-height: 226px;
  width: 516px;
  margin: 30px 0 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 570px;
  min-height: 400px;
  background-image: url("images/eSportsGames_Thumbnail-710x399.jpg");
  background-position: 9.86% 50%;
  margin: -400px auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-group-7 {
  width: 570px;
  min-height: 400px;
  margin: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 15px 0;
}

.u-section-3 .u-group-elements-4 {
  min-height: 226px;
  width: 524px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 0;
}

.u-section-3 .u-text-8 {
  margin: 30px 0 0;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 30px auto 0 0;
  padding: 10px 66px 10px 65px;
}

.u-section-3 .u-group-8 {
  width: 570px;
  min-height: 400px;
  background-image: none;
  margin: -400px 0 60px auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-3 .u-image-4 {
  width: 396px;
  height: 396px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1650px;
  }

  .u-section-3 .u-group-1 {
    width: 470px;
  }

  .u-section-3 .u-group-2 {
    width: 470px;
  }

  .u-section-3 .u-group-elements-1 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    width: 470px;
  }

  .u-section-3 .u-group-elements-2 {
    height: auto;
  }

  .u-section-3 .u-group-4 {
    width: 470px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-group-5 {
    width: 470px;
  }

  .u-section-3 .u-group-elements-3 {
    width: 441px;
    height: auto;
  }

  .u-section-3 .u-image-3 {
    width: 470px;
  }

  .u-section-3 .u-group-7 {
    width: 470px;
  }

  .u-section-3 .u-group-elements-4 {
    height: auto;
  }

  .u-section-3 .u-group-8 {
    width: 470px;
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3480px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-elements-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-group-3 {
    margin-top: 460px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-4 {
    margin-top: -830px;
    width: 100%;
  }

  .u-section-3 .u-group-5 {
    margin-top: 890px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-elements-3 {
    min-height: 252px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: -830px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-7 {
    margin-top: 890px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-8 {
    margin-top: -830px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3470px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-elements-4 {
    width: 520px;
  }

  .u-section-3 .u-group-8 {
    margin-bottom: 460px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-elements-1 {
    width: 320px;
  }

  .u-section-3 .u-group-elements-3 {
    width: 320px;
  }

  .u-section-3 .u-image-3 {
    background-position: 0% 50%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-elements-4 {
    width: 320px;
  }

  .u-section-3 .u-image-4 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 801px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 17px auto 0 0;
}

.u-section-4 .u-list-1 {
  margin: 43px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 93px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 259px;
  left: 0;
  right: auto;
}

.u-section-4 .u-group-1 {
  width: 482px;
  min-height: 190px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 0 9px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  margin: 17px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 22px auto 0 0;
}

.u-section-4 .u-list-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 190px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 259px;
  left: 0;
  right: auto;
}

.u-section-4 .u-group-2 {
  width: 482px;
  min-height: 190px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  margin: 0 9px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 2.25rem;
  margin: 17px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 22px auto 0 0;
}

.u-section-4 .u-list-3 {
  margin-top: 9px;
  margin-bottom: 43px;
}

.u-section-4 .u-repeater-3 {
  grid-template-columns: repeat(1, 100%);
  min-height: 236px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 259px;
  left: 0;
  right: auto;
}

.u-section-4 .u-group-3 {
  width: 522px;
  min-height: 210px;
  margin: 26px 289px 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-4 .u-text-6 {
  font-size: 3rem;
  margin: 0 254px 0 4px;
}

.u-section-4 .u-text-7 {
  font-size: 2.25rem;
  margin: 13px 67px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 28px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 257px;
  }

  .u-section-4 .u-group-1 {
    margin-right: 43px;
  }

  .u-section-4 .u-text-3 {
    width: 482px;
  }

  .u-section-4 .u-list-2 {
    margin-top: -12px;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-group-2 {
    margin-top: -1px;
    margin-right: 46px;
  }

  .u-section-4 .u-list-3 {
    margin-top: 51px;
  }

  .u-section-4 .u-repeater-3 {
    grid-template-columns: 100%;
    min-height: 255px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    min-height: 93px;
  }

  .u-section-4 .u-image-1 {
    width: 180px;
    height: 136px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 17px auto 0 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: -153px;
    margin-right: 41px;
  }

  .u-section-4 .u-list-2 {
    margin-top: 30px;
  }

  .u-section-4 .u-list-3 {
    margin-top: -250px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-repeater-3 {
    min-height: 236px;
  }

  .u-section-4 .u-image-3 {
    width: 172px;
    height: 172px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 10px auto 0 -2px;
  }

  .u-section-4 .u-group-3 {
    margin-top: -182px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    width: 228px;
    height: 166px;
    margin-top: -6px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 13px;
  }

  .u-section-4 .u-list-2 {
    margin-top: 190px;
  }

  .u-section-4 .u-list-3 {
    margin-top: -410px;
  }

  .u-section-4 .u-image-3 {
    width: 277px;
    height: 156px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-group-3 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }

  .u-section-4 .u-list-2 {
    margin-top: 180px;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-4 .u-list-3 {
    margin-top: -416px;
  }

  .u-section-4 .u-group-3 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
    margin-right: 76px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 389px;
}

.u-section-5 .u-line-1 {
  width: 912px;
  margin: 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 57px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 96px;
}

.u-section-5 .u-container-layout-1 {
  padding: 27px 26px;
}

.u-section-5 .u-text-1 {
  margin: 0 4px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 233px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 79px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 192px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-5 .u-line-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-5 .u-line-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-right: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin: -39px 21px -39px -1px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 631px;
}

.u-section-6 .u-text-1 {
  font-family: Anton;
  margin: 50px auto 0;
}

.u-section-6 .u-list-1 {
  width: 1040px;
  margin: 41px auto 50px;
}

.u-section-6 .u-repeater-1 {
  min-height: 454px;
  grid-auto-columns: calc(33.3333% - 27.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 27.3333px));
  grid-gap: 41px;
}

.u-section-6 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-image-1 {
  min-height: 325px;
  width: 233px;
  background-image: url("images/photoeffekte.com__final_234304937933482225_.jpg");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 233px;
  margin: 28px auto 0;
}

.u-section-6 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-image-2 {
  min-height: 325px;
  width: 233px;
  background-image: url("images/photoeffekte.com__final_234304797386465476_.jpg");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 233px;
  margin: 28px auto 0;
}

.u-section-6 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-image-3 {
  min-height: 325px;
  width: 233px;
  background-image: url("images/mediana_234304510480593022.jpg");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 233px;
  margin: 28px auto 0;
}

.u-section-6 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 10px;
}

.u-section-6 .u-image-4 {
  min-height: 325px;
  width: 233px;
  background-image: url("images/photoeffekte.com__final_234404650569453613_.jpg");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 233px;
  margin: 28px auto 0;
}

.u-section-6 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-9 {
  padding: 10px;
}

.u-section-6 .u-image-5 {
  min-height: 325px;
  width: 233px;
  background-image: url("images/photoeffekte.com__final_234405166433378496_.jpg");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-6 .u-container-layout-10 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 233px;
  margin: 28px auto 0;
}

.u-section-6 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-11 {
  padding: 10px;
}

.u-section-6 .u-image-6 {
  min-height: 325px;
  width: 233px;
  background-image: url("images/IMG_20191103_134118-modified.jpg");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-6 .u-container-layout-12 {
  padding: 30px;
}

.u-section-6 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 233px;
  margin: 28px auto 0;
}

.u-section-6 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-13 {
  padding: 10px;
}

.u-section-6 .u-image-7 {
  min-height: 325px;
  width: 233px;
  background-image: url("images/rsz_unknown.png");
  background-position: 50% 50%;
  margin: 28px auto 0;
}

.u-section-6 .u-container-layout-14 {
  padding: 30px;
}

.u-section-6 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 233px;
  margin: 28px auto 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  top: 187px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 187px;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 27.333299999999998px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 27.333299999999998px));
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-top: 0;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-top: 0;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-top: 0;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-6 .u-container-layout-13 {
    padding-top: 0;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 20.499975px);
    grid-template-columns: repeat(2, calc(50% - 20.499975px));
  }

  .u-section-6 .u-text-2 {
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: auto;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-text-2 {
    width: 219px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    width: 219px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    width: 219px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-5 {
    width: 219px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    width: 219px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-7 {
    width: 219px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-8 {
    width: 219px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 781px;
}

.u-section-7 .u-text-1 {
  margin: 54px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 46px auto 0;
}

.u-section-7 .u-list-1 {
  margin: 65px 0 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-7 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-7 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
  padding: 20px;
}

.u-section-7 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-7 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.turnier-bild {
	filter: grayscale(100%);
}